<template name="home">
	
  	<div class='container' id='corpo'>

		<div class="card-panel">
			<div class="row">
				<div class="col m6 l6 hide-on-small-only">
					<h4>myApp</h4>
					<br>
					<img class="responsive-img" src="/images.jpeg">
				</div>

				<div class="col s12 m6 l6">
					<ul class="collapsible center" data-collapsible="accordion">
					    <li>
					      <div class="collapsible-header active">Login</div>
					     	<div class="collapsible-body">
						     	<div class="container">
						     		<form id="loginUsuario">
 							            <div class="input-field">
 							                  <input name="emailLogin" id="emailLogin" type="email" class="validate" required>
 							                  <label for="emailLogin">Email</label>
 							            </div>
 							            <div class="input-field">
 							                  <input name="senhaLogin" id="senhaLogin" type="password" class="validate" required>
 							                  <label for="senhaLogin">Senha</label>
 							            </div>
 							            <input name="submit" type="submit" class="btn center-align" value="Login" id="submit">
 									</form>
 								</div>
							</div>
					    </li>
						<li>
							<div class="collapsible-header">Cadastro</div>
							<div class="collapsible-body">
								<div class="container">
									<form id="cadastroUsuario">
							            <div class="input-field">
							                  <input name="email" id="email" type="email" class="validate" required>
							                  <label for="email">Email</label>
							            </div>
							            <div class="input-field">
							                  <input name="senha" id="senha" type="password" class="validate" required>
							                  <label for="senha">Senha</label>
							            </div>
							            <input name="submit" type="submit" class="btn center" value="Cadastrar-se">
									</form>
								</div>
							</div>
						</li>
					</ul>

				</div>		
			</div>
		</div>
	</div>

	{{>materializeCollapse}}

</template>