<template name="footer">

<footer style="background-color: #212121;" class="page-footer">
          <div class="container">

            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Sobre a AIT</h5>
                <p class="grey-text text-lighten-4"> A AIT (Assessoria de Informação e Tecnologia) é uma consultoria em processos de produção e desenvolvimento de Sistemas, focada em conceitos e metodologias ágeis, buscando atender as necessidades em Tecnologia da Informação da Pró-Reitoria de Ensino de Graduação (PROEG) na Universidade Federal do Pará.</p>
                <p class="grey-text text-lighten-4">Mais informações no nosso <a href="http://ait-proeg.blogspot.com.br/" target="_blank" title="Blog da AIT">Blog</a></p>
              </div>
              <div class="col l4 offset-l2 s12">
					<!-- conteúdo à direita -->
	          </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Desenvolvido com <a href="https://www.meteor.com/" target="_blank">Meteor JS</a>

            </div>
          </div>
    </footer>
    <script type="text/javascript">
	  	$(document).ready(function(){
	  		$(".button-collapse").sideNav({
		      //menuWidth: 300, // Default is 240
		      edge: 'left', // Choose the horizontal origin
		      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
			 }),
		    $('.collapsible').collapsible({
		      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
		    })
	  	});
    </script>
	
</template>