<template name="header">
	{{>head}}
	<div class="navbar-fixed" >
	    <nav style="background-color: #212121">
	      <div class="nav-wrapper">
	        <a href="/" class="brand-logo hide-on-large-only" style="font-weight: bold; color: black; font-style: italic;" ></a>
	        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
	        <div class="right hide-on-med-and-down" id="loginButtons">{{>loginButtons}}</div>
	        	{{#if currentUser}}
	        		{{>navInicio}}
	        	{{else}}
	        		{{>navHome}}
	        	{{/if}}
	      </div>
	    </nav>
	</div>	

</template>

<!-- <template name="loginUser">
	<a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>
	<ul id='dropdown1' class='dropdown-content'>
	<li><a href="#!">one</a></li>
	<li><a href="#!">two</a></li>
	<li class="divider"></li>
	<li><a href="#!">three</a></li>
	</ul>
</template> -->