<template name="navHome">
	<ul class="side-nav" id="slide-out">
      <li><a href="" class="linkmenu">link home 1</a></li>
      <li><a href="" class="linkmenu">link home 2</a></li>
    </ul>
	<ul class="left hide-on-med-and-down">
      <li><a href="" class="linkmenu">link home 1</a></li>
      <li><a href="" class="linkmenu">link home 2</a></li>
	</ul>
</template>


<template name="navInicio">
	<ul class="side-nav" id="slide-out">
      <li><a class="linkinicio" >Projetos</a></li>
      <li><a href="" class="linkmenu">link inicio 2</a></li>
    </ul>
	<ul class="left hide-on-med-and-down">
      <li><a class="linkinicio" >Projetos</a></li>
      <li><a href="" class="linkmenu">link inicio 2</a></li>
	</ul>
</template>